# Ignore node_modules directory
node_modules/

# Ignore any files or directories named "logo.svg"
logo.svg

# Ignore any files or directories created by your code editor
.vscode/
.idea/

# Ignore any files generated during development or build process
dist/